In [1]:
import numpy as np
import pandas as pd

In [2]:
data = [1776, 1867, 1821]
data_index = ['USA', 'Canada', 'Mexico']

In [13]:
series = pd.Series(data = data, index = data_index)
series

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [18]:
series['USA']

1776

In [19]:
ages = {'Sam': 5, 'Frank': 7, 'Tom': 4} # Automatically takes keys as indexes
pd.Series(ages)

Sam      5
Frank    7
Tom      4
dtype: int64

In [36]:
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100,'China': 500, 'India': 210,'USA': 260}

In [37]:
q1_sales = pd.Series(q1)
q2_sales = pd.Series(q2)
q1_sales, q2_sales

(Japan     80
 China    450
 India    200
 USA      250
 dtype: int64,
 Brazil    100
 China     500
 India     210
 USA       260
 dtype: int64)

In [38]:
q1_sales.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [28]:
q1_sales * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [34]:
q1_sales + q2_sales

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [41]:
q1_sales.add(q2_sales, fill_value = 0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64