In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)
data = np.random.randint(0, 101, (4,3))

In [3]:
index = ['CA', 'NY', 'AZ', 'TX']
columns = ['Jan', 'Feb', 'Mar']

In [4]:
df = pd.DataFrame(data = data, index = index, columns = columns)
df

    Jan  Feb  Mar
CA   95   11   81
NY   70   63   87
AZ   75    9   77
TX   40    4   63

In [ ]:
df.info()

In [5]:
df2 = pd.read_csv("C:\\Users\\Alican\\03-Python Data Science Bootcamp\\tips.csv")
df2

,total_bill,tip,sex,smoker,day,time,size,price_per_person,Payer Name,CC Number,Payment ID
0,16.99,1.01,Female,No,Sun,Dinner,2,8.49,Christy Cunningham,3560325168603410,Sun2959
1,10.34,1.66,Male,No,Sun,Dinner,3,3.45,Douglas Tucker,4478071379779230,Sun4608
2,21.01,3.50,Male,No,Sun,Dinner,3,7.00,Travis Walters,6011812112971322,Sun4458
3,23.68,3.31,Male,No,Sun,Dinner,2,11.84,Nathaniel Harris,4676137647685994,Sun5260
4,24.59,3.61,Female,No,Sun,Dinner,4,6.15,Tonya Carter,4832732618637221,Sun2251
...,...,...,...,...,...,...,...,...,...,...,...
239,29.03,5.92,Male,No,Sat,Dinner,3,9.68,Michael Avila,5296068606052842,Sat2657
240,27.18,2.00,Female,Yes,Sat,Dinner,2,13.59,Monica Sanders,3506806155565404,Sat1766
241,22.67,2.00,Male,Yes,Sat,Dinner,2,11.34,Keith Wong,6011891618747196,Sat3880
242,17.82,1.75,Male,No,Sat,Dinner,2,8.91,Dennis Dixon,4375220550950,Sat17
243,18.78,3.00,Female,No,Thur,Dinner,2,9.39,Michelle Hardin,3511451626698139,Thur672

In [ ]:
df2.info()

In [ ]:
df2.columns, df2.index

In [ ]:
df2.shape

In [ ]:
df2.head(10)

In [ ]:
df2.describe().T # For better reading

In [6]:
df2[['total_bill', 'tip']].T

,0,1,2,3,4,5,6,7,8,9,...,234,235,236,237,238,239,240,241,242,243
total_bill,16.99,10.34,21.01,23.68,24.59,25.29,8.77,26.88,15.04,14.78,...,15.53,10.07,12.6,32.83,35.83,29.03,27.18,22.67,17.82,18.78
tip,1.01,1.66,3.50,3.31,3.61,4.71,2.00,3.12,1.96,3.23,...,3.00,1.25,1.0,1.17,4.67,5.92,2.00,2.00,1.75,3.00

In [ ]:
# Creating a new column, if column already exists it overrides
df2['tip_pct'] = np.round(df2['tip'] / df2['total_bill'] * 100, 2)
df2.head()

In [ ]:
# df2.drop('tip_pct', axis = 1, inplace = True) does same thing, but re-assignment is more stable
# axis 0 = rows(-) 
# axis 1 = columns(|)
# inplace True overrides the dataframe
df2 = df2.drop('tip_pct', axis = 1)
df2

In [ ]:
# Setting payment ID as index of dataframe
# df2.reset_index() resets the index
df2 = df2.set_index('Payment ID')

In [ ]:
df2

In [ ]:
df2.iloc[0] # Integer-based row info

In [ ]:
df2.loc['Sun2959'] # Label-based row info

In [ ]:
df2.iloc[0:4]

In [ ]:
df2.loc[['Sun2959','Sun5260']]

In [ ]:
df2.drop('Sun2959', axis = 0)

In [ ]:
# Conditional filtering
# Columns -> Features
# Rows    -> Instances
# For and/or use &/|

In [ ]:
df2[(df2['total_bill'] >= 35) & (df2['tip'] >= 4)]

In [ ]:
df2[df2['day'].isin(['Fri','Sat','Sun'])]