In [1]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_csv('C:\\Users\\Alican\\03-Python Data Science Bootcamp\\mpg.csv')

In [5]:
df.head(10)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl

In [12]:
df['model_year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [13]:
df['model_year'].value_counts()

73    40
78    36
76    34
82    31
75    30
81    29
80    29
79    29
70    29
77    28
72    28
71    28
74    27
Name: model_year, dtype: int64

In [22]:
df.groupby(by = ['model_year', 'origin']).describe()

                    mpg                                                     \
                  count       mean        std   min     25%    50%     75%
model_year origin
70         1       22.0  15.272727   3.507568   9.0  14.000  15.00  17.750
           2        5.0  25.200000   0.836660  24.0  25.000  25.00  26.000
           3        2.0  25.500000   2.121320  24.0  24.750  25.50  26.250
71         1       20.0  18.100000   4.655500  12.0  14.000  18.00  19.750
           2        4.0  28.750000   1.500000  27.0  27.750  29.00  30.000
           3        4.0  29.500000   4.434712  25.0  26.500  29.00  32.000
72         1       18.0  16.277778   4.860471  11.0  13.000  14.00  19.250
           2        5.0  22.000000   2.915476  18.0  21.000  22.00  23.000
           3        5.0  24.200000   3.563706  19.0  23.000  24.00  27.000
73         1       29.0  15.034483   3.212506  11.0  13.000  14.00  18.000
           2        7.0  24.000000   3.511885  19.0  22.000  24.00  26.000
           3        4.0  20.000000   1.632993  18.0  19.500  20.00  20.500
74         1       15.0  18.333333   4.775932  13.0  14.500  16.00  20.500
           2        6.0  27.000000   2.529822  24.0  26.000  26.00  28.250
           3        6.0  29.333333   3.444803  24.0  27.250  31.00  31.750
75         1       20.0  17.550000   2.855742  13.0  15.000  17.50  19.250
           2        6.0  24.500000   2.509980  22.0  23.000  24.00  25.000
           3        4.0  27.500000   4.358899  24.0  24.000  26.50  30.000
76         1       22.0  19.431818   4.981622  13.0  15.625  18.25  23.625
           2        8.0  24.250000   5.042675  16.5  19.750  26.00  28.250
           3        4.0  28.000000   6.377042  19.0  25.750  30.00  32.250
77         1       18.0  20.722222   5.973525  15.0  16.000  18.00  25.250
           2        4.0  29.250000   5.979130  21.5  27.125  29.75  31.875
           3        6.0  27.416667   5.034051  21.5  23.000  28.00  31.125
78         1       22.0  21.772727   4.800216  17.5  19.200  20.20  22.600
           2        6.0  24.950000  10.439684  16.2  17.825  20.95  29.025
           3        8.0  29.687500   6.134082  21.1  26.375  28.50  33.625
79         1       23.0  23.478261   6.419286  15.5  18.350  21.50  27.900
           2        4.0  30.450000   5.325724  25.4  26.750  29.55  33.250
           3        2.0  32.950000   1.626346  31.8  32.375  32.95  33.525
80         1        7.0  25.914286   4.106673  19.1  23.950  26.40  27.950
           2        9.0  37.288889   5.493734  29.8  34.300  36.40  41.500
           3       13.0  35.400000   6.234848  23.7  32.200  33.80  38.100
81         1       13.0  27.530769   6.066353  17.6  23.500  26.60  30.000
           2        4.0  31.575000   2.794489  28.1  30.050  31.85  33.375
           3       12.0  32.958333   4.466127  24.2  32.125  33.30  35.575
82         1       20.0  29.450000   4.871777  22.0  26.750  28.00  32.500
           2        2.0  40.000000   5.656854  36.0  38.000  40.00  42.000
           3        9.0  34.888889   2.713137  31.0  32.000  36.00  37.000

                        cylinders            ...   weight          \
                    max     count      mean  ...      75%     max
model_year origin                            ...
70         1       22.0      22.0  7.636364  ...  4350.75  4732.0
           2       26.0       5.0  4.000000  ...  2430.00  2672.0
           3       27.0       2.0  4.000000  ...  2311.50  2372.0
71         1       28.0      20.0  6.200000  ...  4167.75  5140.0
           2       30.0       4.0  4.000000  ...  2086.25  2123.0
           3       35.0       4.0  4.000000  ...  2154.50  2228.0
72         1       28.0      18.0  6.888889  ...  4362.25  4633.0
           2       26.0       5.0  4.000000  ...  2933.00  2979.0
           3       28.0       5.0  3.800000  ...  2330.00  2506.0
73         1       23.0      29.0  7.241379  ...  4464.00  4997.0
           2       29.0       7.0  4.000000  ...  2621.00  2868.0
           3       22.0       4.0  4.250000  ...  2486.00  2807.0
74         1       28.0      15.0  6.266667  ...  4199.00  4699.0
           2       31.0       6.0  4.000000  ...  2239.25  2300.0
           3       32.0       6.0  4.000000  ...  2294.00  2489.0
75         1       23.0      20.0  6.400000  ...  3899.50  4668.0
           2       29.0       6.0  4.000000  ...  2882.25  2957.0
           3       33.0       4.0  4.000000  ...  2584.25  2702.0
76         1       29.0      22.0  6.363636  ...  3956.50  4380.0
           2       29.5       8.0  4.250000  ...  3180.00  3820.0
           3       33.0       4.0  4.500000  ...  2348.75  2930.0
77         1       33.5      18.0  6.222222  ...  4158.75  4335.0
           2       36.0       4.0  4.000000  ...  2292.50  2600.0
           3       33.5       6.0  4.166667  ...  2606.25  2815.0
78         1       36.1      22.0  6.000000  ...  3441.25  4080.0
           2       43.1       6.0  4.833333  ...  3062.50  3410.0
           3       39.4       8.0  4.000000  ...  2432.50  2560.0
79         1       35.7      23.0  6.260870  ...  3835.00  4360.0
           2       37.3       4.0  4.250000  ...  3275.00  3530.0
           3       34.1       2.0  4.000000  ...  2008.75  2020.0
80         1       32.1       7.0  4.285714  ...  2954.00  3381.0
           2       44.3       9.0  4.111111  ...  2500.00  3250.0
           3       46.6      13.0  4.076923  ...  2434.00  2910.0
81         1       39.0      13.0  4.923077  ...  3060.00  3725.0
           2       34.5       4.0  4.500000  ...  3177.50  3230.0
           3       39.1      12.0  4.333333  ...  2620.00  2930.0
82         1       38.0      20.0  4.300000  ...  2842.50  3035.0
           2       44.0       2.0  4.000000  ...  2092.50  2130.0
           3       38.0       9.0  4.000000  ...  2205.00  2665.0

                  acceleration                                            \
                         count       mean       std   min     25%    50%
model_year origin
70         1              22.0  11.977273  2.945850   8.0  10.000  11.25
           2               5.0  16.500000  3.082207  12.5  14.500  17.50
           3               2.0  14.750000  0.353553  14.5  14.625  14.75
71         1              20.0  14.575000  2.566356  11.5  12.750  14.25
           2               4.0  16.750000  2.901149  14.0  14.375  16.75
           3               4.0  16.375000  2.495830  14.0  14.375  16.25
72         1              18.0  14.055556  2.222141  11.0  12.500  13.50
           2               5.0  18.700000  3.251923  14.5  18.000  18.00
           3               5.0  15.400000  1.431782  13.5  14.500  15.50
73         1              29.0  13.620690  2.520116   9.5  11.500  13.00
           2               7.0  16.428571  2.729905  14.0  14.750  15.50
           3               4.0  15.625000  2.657536  13.5  13.500  15.00
74         1              15.0  15.966667  1.302013  13.5  15.000  16.50
           2               6.0  15.333333  0.930949  14.0  14.750  15.50
           3               6.0  17.666667  2.359378  15.0  15.750  17.75
75         1              20.0  16.350000  2.814904  11.5  14.375  16.00
           2               6.0  15.083333  1.393437  13.5  14.125  14.75
           3               4.0  16.000000  1.779513  13.5  15.375  16.50
76         1              22.0  15.786364  3.086884  12.0  13.300  14.95
           2               8.0  16.050000  2.792848  12.2  15.025  15.60
           3               4.0  16.575000  0.826136  15.5  16.175  16.70
77         1              18.0  15.238889  2.361241  11.1  13.900  15.65
           2               4.0  15.000000  2.507323  12.8  13.775  14.30
           3               6.0  16.316667  1.989389  13.5  14.975  16.60
78         1              22.0  15.545455  2.090962  11.2  13.875  15.65
           2               6.0  16.233333  2.721519  13.6  15.100  15.75
           3               8.0  16.200000  1.930951  14.2  14.775  15.65
79         1              23.0  15.243478  2.346918  11.3  13.300  15.00
           2               4.0  18.400000  5.062937  14.0  14.525  17.40
           3               2.0  17.200000  2.828427  15.2  16.200  17.20
80         1               7.0  16.800000  2.235322  14.3  14.950  16.50
           2               9.0  18.366667  3.444924  14.7  15.300  17.30
           3              13.0  16.015385  2.402029  11.4  15.000  16.40
81         1              13.0  16.053846  2.199475  12.6  14.900  16.20
           2               4.0  17.500000  2.977695  14.2  15.400  17.70
           3              12.0  16.183333  1.982576  12.6  14.700  16.45
82         1              20.0  16.670000  2.250170  11.6  15.375  16.70
           2               2.0  19.950000  6.576093  15.3  17.625  19.95
           3               9.0  15.833333  1.500000  13.9  14.500  15.70


                      75%   max
model_year origin
70         1       14.750  18.5
           2       17.500  20.5
           3       14.875  15.0
71         1       15.500  20.5
           2       19.125  19.5
           3       18.250  19.0
72         1       15.750  19.5
           2       19.500  23.5
           3       16.500  17.0
73         1       15.000  19.5
           2       17.500  21.0
           3       17.125  19.0
74         1       17.000  18.0
           2       15.875  16.5
           3       19.000  21.0
75         1       18.625  21.0
           2       16.125  17.0
           3       17.125  17.5
76         1       17.675  22.2
           2       16.750  21.9
           3       17.100  17.4
77         1       16.775  19.0
           2       15.525  18.6
           3       17.850  18.5
78         1       17.075  19.2
           2       15.875  21.5
           3       17.100  19.4
79         1       16.300  22.2
           2       21.275  24.8
           3       18.200  19.2
80         1       18.400  20.1
           2       21.700  23.7
           3       17.900  19.2
81         1       16.600  20.7
           2       19.800  20.4
           3       17.425  19.4
82         1       18.150  20.5
           2       22.275  24.6
           3       16.900  18.2

[39 rows x 40 columns]

In [25]:
year_origin = df.groupby(by = ['model_year', 'origin']).mean()

In [30]:
year_origin.index.levels

FrozenList([[70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], [1, 2, 3]])

In [36]:
year_origin.xs(key = 1, level = 'origin') # We can access interior level values, in this case origin

                  mpg  cylinders  displacement       weight  acceleration
model_year
70          15.272727   7.636364    336.909091  3716.500000     11.977273
71          18.100000   6.200000    257.000000  3401.600000     14.575000
72          16.277778   6.888889    281.250000  3682.666667     14.055556
73          15.034483   7.241379    314.103448  3821.448276     13.620690
74          18.333333   6.266667    236.066667  3503.333333     15.966667
75          17.550000   6.400000    253.400000  3533.200000     16.350000
76          19.431818   6.363636    243.954545  3405.409091     15.786364
77          20.722222   6.222222    242.333333  3422.000000     15.238889
78          21.772727   6.000000    217.545455  3141.136364     15.545455
79          23.478261   6.260870    231.260870  3210.217391     15.243478
80          25.914286   4.285714    151.571429  2822.428571     16.800000
81          27.530769   4.923077    164.846154  2695.000000     16.053846
82          29.450000   4.300000    142.950000  2637.750000     16.670000

In [37]:
df.agg(['std', 'mean'])

,mpg,cylinders,displacement,weight,acceleration,model_year,origin
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864

In [38]:
df.agg({'mpg':['max', 'mean'], 'weight':['mean', 'std']})

            mpg       weight
max   46.600000          NaN
mean  23.514573  2970.424623
std         NaN   846.841774